@media screen and (max-width: 1024px) {
    section.special-projects {
        padding: m-get-vh(75px) 0 m-get-vh(40px) 0;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h2 {
            padding-left: m-get-vh(28px);
            @include comforta-light( m-get-vh(30px) );
            color: #FAB01F;

            span {
                display: block;
                @include proxima-regular( m-get-vh(18px), m-get-vh(28px) );
                color: white;
            }
        }

        .mobile-hide { display: none; }
    }

    .special-projects_projects {

        display: grid;
        grid-auto-flow: column;
        grid-template-rows: max-content;
        grid-auto-columns: max-content;

        &_block {
            width: 100vw;
            padding: 0 get-vh-m(28px);

            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                width: 100%;
                height: auto;
            }

            h3 {
                margin-top: m-get-vh(26px);
                width: max-content;

                @include comforta-light( m-get-vh(18px), m-get-vh(21px) );
                color: #FAB01F;
            }

            p {
                margin-top: m-get-vh(8px);

                @include proxima-regular( m-get-vh(14px), m-get-vh(18px), m-get-vh(-.4px) );
                color: white;
                text-align: center;
            }

            a {
                width: max-content;
                height: m-get-vh(35px);
                padding: 0 m-get-vh(25px);
                margin-top: m-get-vh(26px);

                display: block;

                border: m-get-vh(1.5px) #FAB01F solid;
                border-radius: m-get-vh(25px);

                @include comforta-light( m-get-vh(18px), m-get-vh(35px) );
                text-align: center;
                color: #FAB01F;
            }
        }
    }
}