section#about{
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
  padding: get-vh-m(54px) get-vh-m(18px);

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  background-image: url('~images/mobile/about.svg');
  background-size: auto 100%;
  background-position: bottom;
}

.about--header{
  margin-left: get-vh-m(8px);

  color: #F74695;
  opacity: 0;
  transition: opacity 0.5s 0s;
}

.about--p-1{
  margin-top: get-vh-m(18px);
  align-self: justify;

  letter-spacing: -0.05vh;
  color: rgba(255,255,255, 0.85);

  opacity: 0;
  transition: opacity 0.5s 0.25s;

  span{
    display: none;
  }
}

#macbook-wrapper{
  display: none;
}

#about-anchor{
  left: 100vw; top: 0;
  position: absolute;
}
