section#cases{
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
  padding: get-vh-m(78px) 0 get-vh-m(8px) get-vh-m(28px);
  overflow-x: visible;
}

#cases-add-0,
#cases-add-1{
  flex-shrink: 0;
  width: 100vw;
  scroll-snap-align: start;
  pointer-events: none;
}

.cases--categories-container{
  width: 100%;

  position: relative;
}

.cases--description{

  & > * {
    width: max-content;
    left: get-vh-m(28px);
    margin-right: calc(-200vw + #{get-vh-m(28px)});
    position: sticky;
  }

  h2{
    color: #FF8500;
  }
  p{
    width: max-content;
    margin-top: get-vh-m(18px);

    line-height: get-vh-m(20px);
    span{
      color: #FF8500;
    }
  }
}

.cases--category{
  width: max-content;
  left: get-vh-m(28px);
  margin-right: calc(-200vw + #{get-vh-m(28px)});
  position: sticky;

  &:nth-child(2){
    margin-top: get-vh-m(24px);
  }
  &:nth-child(n+3){
    margin-top: get-vh-m(15px);
  }

  display: grid;
  grid-template:
  max-content /
  repeat(3, max-content);
  grid-column-gap: get-vh-m(6px);
  align-items: center;

  h2{
    opacity: 0.5;
  }

  ul{
    display: none;
  }

  i{
    width: get-vh-m(18px);
    height: get-vh-m(18px);

    display: block;

    mask-size: get-vh-m(18px) auto;
    mask-position: center;
    mask-repeat: no-repeat;
    background-color: #FFA600;
  }
}

.cases--clients-container{
  width: calc(300vw - #{get-vh-m(28px)});
  padding-top: get-vh-m(76px);

  display: grid;
  grid-auto-flow: column;
  grid-template: repeat(7, max-content) / repeat(3, calc(100vw - #{get-vh-m(28px)}));
  grid-gap: get-vh-m(18px) get-vh-m(28px);
  justify-items: flex-start;
}

.cases--client{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  align-items: center;
  grid-column-gap: get-vh-m(4px);

  i{
    width: get-vh-m(14px);
    height: get-vh-m(14px);
    margin-top: get-vh-m(1px);

    display: block;

    mask-size: get-vh-m(14px) auto;
    mask-repeat: no-repeat;
    mask-position: center;
  }
}

.cases--client:nth-child(n) i{
  background-color: #FF8500;
}
.cases--client:nth-child(n+8) i{
  background-color: #FD6F00;
}
.cases--client:nth-child(n+15) i{
  background-color: #F44600;
}
