@mixin m-comfortaa-30{
  font-family: 'Comfortaa';
  font-weight: 300;
  font-size: get-vh-m(30px);
  line-height: get-vh-m(33px);
}

@mixin m-comfortaa-25{
  font-family: 'Comfortaa';
  font-weight: bold;
  font-size: get-vh-m(25px);
  line-height: get-vh-m(28px);
}

@mixin m-comfortaa-18{
  font-family: 'Comfortaa';
  font-weight: bold;
  font-size: get-vh-m(18px);
  line-height: get-vh-m(18px);
}

@mixin m-comfortaa-14{
  font-family: 'Comfortaa';
  font-weight: bold;
  font-size: get-vh-m(14px);
  line-height: get-vh-m(15px);
}

@mixin m-comfortaa-12{
  font-family: 'Comfortaa';
  font-weight: bold;
  font-size: get-vh-m(12px);
  line-height: get-vh-m(12px);
}

@mixin m-proxima-14{
  font-family: 'Proxima Nova';
  font-weight: 500;
  font-size: get-vh-m(14px);
  line-height: get-vh-m(16px);
}

@mixin m-proxima-14-it{
  font-family: 'Proxima Nova';
  font-weight: 500;
  font-style: italic;
  font-size: get-vh-m(14px);
  line-height: get-vh-m(14px);
}

@mixin m-proxima-12{
  font-family: 'Proxima Nova';
  font-weight: 500;
  font-size: get-vh-m(12px);
  line-height: get-vh-m(14px);
}
