section#service{
  width: get-vh-m(1125px);
  height: calc(var(--vh, 1vh) * 100);

  position: relative;
  display: grid;
  grid-template-areas:
  "text-1 text-2 text-3"
  "switch switch switch";
  grid-template-rows: max-content get-vh-m(23px);
  grid-template-columns: repeat(3, get-vh-m(318px));
  grid-column-gap: get-vh-m(57px);
  align-content: space-between;

  padding: 0 get-vh-m(48px) get-vh-m(20px) get-vh-m(25px);

  background-image: url('/images/mobile/service.svg');
  background-size: calc(100% - 15px - 52px) auto;
  background-position: get-vh-m(15px) get-vh-m(20px);
}

.service--text-1{
  grid-area: text-1;
  margin-top: get-vh-m(358px);
}
.service--text-2{
  grid-area: text-2;
  margin-top: get-vh-m(358px);
}
.service--text-3{
  grid-area: text-3;
  margin-top: get-vh-m(358px);
}
.controls-container{
  grid-area: switch;
}

/*headers*/

.service--text-1
h2{
  color: #FF5873;
}
.service--text-2
h2{
  color: #FF925A;
}
.service--text-3
h2{
  color: #FFCA36;
}

.service--text-1 h2,
.service--text-2 h2,
.service--text-3 h2{
  padding-left: get-vh(8px);
  margin-bottom: get-vh-m(24px);

  text-align: left;
}

.service--text-1,
.service--text-2,
.service--text-3{
  color: $white-08;
}

/*lists*/

.service--text-service ul,
.service--text-team ul{
  display: grid;

  grid-auto-flow: row;
  grid-row-gap: get-vh-m(16px);
}

.service--text-service li,
.service--text-team li{
  text-align: left;
  letter-spacing: get-vh-m(-0.35px);
}

/*state headers*/

.controls-container{
  width: get-vh-m(192px);
  height: get-vh-m(22px);
  margin-left: get-vh-m(72px);
  left: get-vh-m(92px);

  position: sticky;
  display: grid;

  grid-auto-flow: column;
  grid-column-gap: get-vh-m(8px);
  grid-template-columns:
  1fr get-vh-m(40px) 1fr;

  align-items: center;
}

.controls-container h2:first-child{
  text-align: right;
}

.controls-container h2{
  width: max-content;

  font-family: 'Comfortaa';
  font-weight: bold;
  font-size: get-vh-m(15px);
  color: rgba(255, 255, 255, 0.4);
  transition: 0.3s
}

.controls-container h2.selected{
  font-size: get-vh-m(15px);
  color: #EB606B;
}

/*notice*/

span.notice{
  display: none;
}

/*switch*/

.switch{
  width: get-vh-m(40px);
  height: get-vh-m(22px);

  position: relative;
  justify-self: center;

  border: get-vh-m(1.5px) solid $main-white;
  border-radius: get-vh-m(14px);
}

.switch input{
  width: 0;
  height: 0;
  opacity: 0;
}

.slider{
  position: absolute;
  top:0; bottom:0; margin: auto;
  left: get-vh-m(-1.5px);
  width: get-vh-m(22px);
  height: get-vh-m(22px);
  background-color: #EB606B;
  border-radius: 50%;
  transition: 0.3s;
}

.switch input:checked + .slider{
  transform: translateX(get-vh-m(18px));
}

/*animations*/

.service--text-service,
.service--text-team{
  opacity: 0;
  animation: fadeIn 0.25s 0.25s forwards;
}

@keyframes fadeIn {
 from { opacity: 0; }
 to { opacity: 1; }
}

@keyframes fadeOut {
 from { opacity: 1; }
 to { opacity: 0; }
}
