@media screen and (min-width: 1025px) {
    #new-modal {
        width: 100vw;
        height: 100vh;
        left: 0; top: 0;
        position: fixed;

        background-color: rgba(#131317, .85);
        overflow: hidden auto;
        z-index: 10;
    }

    #new-modal-close {
        width: get-vw(20px);
        height: get-vw(20px);
        right: get-vw(125px);
        top: get-vw(125px);

        position: absolute;

        mask-image: url('~images/close.svg');
        mask-size: contain;
        mask-position: center;
        background-color: var(--borderColor, white);

        cursor: pointer;
    }

    .new-modal-content {
        left: 0; right: 0;
        top: 0; bottom: 0;
        min-height: calc( 100% - #{get-vw(85px * 2)} );
        height: max-content;
        margin: get-vw(85px);

        background-color: #131317;
        border: get-vw(3px) var(--borderColor, white) solid;
        border-radius: get-vw(50px);
    }
}