main{
  position: relative;
}

#start-animation-wrapper{
  width: get-vh(2112px);
  height: 100vh;
  left: 0; top: 0;

  position: absolute;

  z-index: -1;

  #start-animation-container{
    width: get-vh(2112px);
    height: 100vh;

    svg{
      flex-shrink: 0;
      width: get-vh(2112px)!important;
      height: get-vh(1080px)!important;
    }
  }
}

#mid-animation-wrapper{
  width: get-vh(4.5 * 1920px);
  height: 100vh;
  left: get-vh(2112px); top: 0;

  position: absolute;

  z-index: -1;
  will-change: transform;

  #mid-animation-container{
    width: 100vw;
    height: get-vh(1080px);
    left: 0; top: 0;

    position: sticky;
    display: flex;
    justify-content: left;

    svg{
      flex-shrink: 0;
      width: auto!important;
      height: get-vh(1080px)!important;
    }
  }
}

#end-animation-wrapper{
  width: 100vw;
  height: 100vh;
  right: 0; top: 0;

  position: absolute;

  overflow: hidden;

  #end-animation-container{
    width: 100vw;
    height: get-vh(1080px);
  }
}
