$vh-viewport: 1080;
@function get-vh($size){
  $vh-context: $vh-viewport * 0.01 * 1px;
  @return $size / $vh-context * 1vh;
  @return $size;
}

$vw-viewport: 1920;
@function get-vw($size){
  $vw-context: $vw-viewport * 0.01 * 1px;
  @return $size / $vw-context * 1vw;
  @return $size;
}

$vh-viewport-m: 650;
@function get-vh-m($size){
  $vh-context: $vh-viewport-m * 0.01 * 1px;
  @return calc(var(--vh) * #{$size / $vh-context});
  @return $size;
}
