header{
  max-width: max-content;
  height: get-vh(70px);
  top: 0;
  left: 0;

  position: fixed;
  box-sizing: content-box;
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  grid-template-columns: repeat(4, max-content);
  grid-column-gap: get-vh(16px);

  padding-top: get-vh(5px);
  padding-left: get-vh(16px);

  z-index: 1;
}


/*layout*/

.logo{
  width: get-vh(120px);
  height: get-vh(68px);

  position: relative;
  display: block;

  mask-image: url('~images/logo.svg');
  mask-size: contain;
  mask-position: center;

  background-image: url('~images/gradient.svg');
  background-size: calc(177.77778vh * 4 + 800vh);
  background-position: left calc(-1vh - var(--scroll_depth_px)) top;
  will-change: background-position;


  /*#gradient{
    width: 850vw;
    height: 100%;
    left: -10px; top: 0;

    position: absolute;

    background-image: url('~images/gradient.svg');
    background-size: 100%;
    background-position: left;
    will-change: left;
  }*/
}

.description-wrapper{
  width: calc(26.38889vh);
  height: get-vh(42px);

  position: relative;
  overflow: hidden;

  transition: width 0.5s;
}

.description{
  width: get-vh(285px);
  height: get-vh(42px);
  padding-top: get-vh(1px);
  left: 0; top: 0; bottom: 0;
  margin: auto;

  position: absolute;
  display: inline-block;
}

nav{
  position: relative;
}

nav::before{
  width: get-vh(2px);
  height: get-vh(38px);

  content: '';
  position: absolute;
  display: block;

  left: 0;
  top: 0; bottom: 0;
  margin: auto;

  border-radius: get-vh(5px);
  background-color: rgba(255,255,255, 0.5);
}

.hamburger-button{
  display: none;
}

.nav-links{
  width: max-content;
  height: min-content;

  position: relative;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  grid-column-gap: get-vh(10px);

  list-style: none;
  padding-left: get-vh(24px);
}

.nav-item{
  font-family: 'Comfortaa';
  font-weight: bold;
  font-size: get-vh(21px);
  line-height: get-vh(21px);
  color: rgba(255,255,255, 0.5);
}

.social{
  margin-left: get-vh(0px);

  display: grid;
  grid-auto-flow: column;
  grid-column-gap: get-vh(16px);
}

.social-item{
  width: get-vh(24px);
  height: get-vh(24px);

  background: rgba(255,255,255, 0.5);
}

.social-item:nth-child(1){
  mask-image: url('~images/inst_icon.svg');
  mask-size: 100%;
  mask-position: center;
  mask-repeat: no-repeat;
}

.social-item:nth-child(2){
  mask-image: url('~images/fb_icon.svg');
  mask-size: 100%;
  mask-position: center;
  mask-repeat: no-repeat;
}
