/*lightbox window*/
#lightbox{
  width: 100vw;
  height: 100vh;
  top: 0; left: 0;

  padding: get-vh(75px);

  position: fixed;
  display: flex;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.9);
}

#posts{
  width: 100%;

  display: grid;
  grid-auto-flow: row;
  grid-template:
  max-content 1fr /
  100%;

  border: $orange-yellow get-vh(2px) solid;
  border-radius: get-vh(50px);
}

.lightbox-header{
  width: 100%;
  height: get-vh(100px);
  padding: 0 get-vh(52px);
  left: 0; top: 0;

  position: relative;

  display: flex;
  align-items: center;
  z-index: 2;

  &::before{
    height: get-vh(2px);
    left: get-vh(53px); right: get-vh(53px);
    bottom: get-vh(-1.5px);

    position: absolute;

    background-color: $orange-yellow;
    content: '';
  }
}

.lightbox-posts{
  overflow-y: scroll;
}

/*lightbox content header*/

.lightbox-header h2{
  margin-right: get-vh(34px);

  position: relative;

  color: $orange-yellow;

  &::before{
    width: get-vh(2px);
    height: get-vh(34px);
    right: get-vh(-17px); top: get-vh(2px);

    position: absolute;

    background-color: $orange-yellow;
    content: '';
  }
}

.lightbox-header--count{
  width: get-vh(514px);
  height: get-vh(39px);
  margin-left: get-vh(42px);

  display: flex;
  grid-auto-flow: flex;
  justify-content: space-between;
}

.lightbox-header--count li{
  width: max-content;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  font-weight: 700;
  line-height: get-vh(16px);
}

.lightbox-header--count span{
  margin-right: get-vh(11px);

  color: $orange-yellow;
}

#lightbox-close{
  width: get-vh(28px);
  height: get-vh(28px);
  right: get-vh(40px);
  top: 0; bottom: 0;
  margin: auto;

  position: absolute;

  background-image: url('~images/close.svg');
  background-size: cover;
}

/*lightbox content post blocks*/

.post--m-img{
  display: none;
}

.lightbox-posts{
  padding: get-vh(40px) get-vh(52px);

  display: grid;
  grid-auto-flow: row;
  grid-row-gap: get-vh(68px);
}

.post{
  width: 100%;
  height: auto;
  padding-left: get-vh(14px);
  padding-bottom: get-vh(39px);

  position: relative;
  display: grid;

  grid-auto-flow: column;
  grid-template-columns: 1fr get-vh(666px);
  grid-column-gap: get-vh(70px);
}

.post:not(:last-child)::before{
  height: get-vh(2px);
  right: 0; left:0;
  bottom: 0;

  margin: auto;

  position: absolute;
  display: block;

  border-radius: get-vh(2px);
  background-color: $orange-yellow;
  content: '';
}

.post--img{
  width: 100%;
  height: auto;
  flex-shrink: 0;

  padding-top: get-vh(24px);

  display: block;
  object-fit: contain;
}

.post--text{
  flex-grow: 1;
}

.post--date{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: auto 1fr;
  grid-column-gap: 10px;

  justify-content: left;
  align-items: center;

  font-family: 'Comfortaa';
  font-weight: 400;
  font-size: get-vh(31px);
  line-height: get-vh(38.8px);

  color: #666668;
}

.post--date span{
  width: get-vh(84.07px);
  height: get-vh(38.8px);

  display: block;

  font-family: 'Comfortaa';
  font-weight: bold;
  font-size: get-vh(27px);
  line-height: 4vh;
  text-align: center;

  border-radius: get-vh(25px);
  color: black;
  background-color: $orange-yellow;
}

.post--title{
  margin-top: get-vh(32px);
  color: #E68D21;
}

.post--content{
  margin-top: get-vh(28px);
}

h3.post--results{
  margin-top: get-vh(38px);
  color: #666668;
}

ul.post--results{
  margin-top: get-vh(24px);

  display: grid;
  grid-auto-flow: row;
  grid-row-gap: get-vh(16px);
}

ul.post--results
li{
  font-weight: 700;
}

ul.post--results
li
span{
  margin-right: get-vh(14px);
  color: #E68D21;
}
